body{
    margin-top: 80px ;
}
header{
width: 1400px;
height: 50px;
background-color: blue;
position: sticky;
top: 0;
display: inline-block;
}
header img{
width: 100px;
height: 40px;
margin-left: 20px;
display: inline;
margin-top: 0px;
}
header p{
color: white;
font-family: sans-serif;
font-size: 15px;   
display: inline;
}
header input{
width: 500px;
margin-left: 10px;
font-size: 15px;   
margin-bottom: 10px;
}
header button{
color: black;
font-size: 15px;   
}
.fistbox{
width: 300px;
height:1000px;
background-color:antiquewhite;
clear: both;
float: left;
}
#thirdbox{
width: 900px;
height: 1000px;
background-color:white;
margin-top: 40px;
margin-bottom: 1px;
margin-left: 220px;
text-align: left;
float: left;
}
.thirdbox1{
width: 300px;
height: 400px;
background-color:white;
float: left;
}
.thirdbox2{
width: 400px;
height: 400px;
background-color:white;
float: right;
margin-right: 100px;
}