body {
    margin: 0px;
    background-color: #e8eaec;
    font-family: Roboto, Arial, sans-serif;
}



#main {
    display: grid;
    height: 600px;
    grid-gap: 0.2ch;
    grid-template-columns: 70% 28%;
    padding: 2%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "d1 d5""d2 d5""d4 d5";
}

#submain_div_1 {
    grid-area: d1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 90%;
    grid-template-areas: "div_head div_head" "submain_div_1_body info_div_1";
}


.submain_div_1_body>input,
p {
    width: 85%;
    border: none;
    padding: 1px 20px;
    margin: 10px;
    height: 30px;
}

.submain_div_1_body>button {
    width: 90%;
    border: none;
    padding: 10px 20px;
    background-color: #FB641B;
    cursor:pointer;
    margin: 10px 20px 20px;
    text-align: center;
}
.submain_div_1_body{
    grid-area:submain_div_1_body;
}

#info_submain_div_1{
    display: grid;
    width: 100%;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "d1 d1""d2 d3""d6 d7";
}
#info_1{
    grid-area: d1;
}
#info_2{
    grid-area: d2;
}
#info_3{
    grid-area: d3;
}
#info_4{
    grid-area: d4;
}
#info_5{
    grid-area: d5;
}
#info_6{
    grid-area: d6;
}
#info_7{
    grid-area: d7;
}

#info_submain_div_1 img{
    height: 30px;
}



#submain_div_2 {
    grid-area: d2;
}

#submain_div_3 {
    grid-area: d3;
}

#submain_div_4 {
    grid-area: d4;
}

#submain_div_5 {
    grid-area: d5;
}

.div_head {
    padding: 20px;
    grid-area: div_head;
}
.div_head_1{
    color: #fff;
    background-color: #2874f0;
}
#submain_div_2 ,#submain_div_3, #submain_div_4 {
    color: #796e6e;
    padding: 14px 24px;
    background-color: rgb(221, 220, 220);
    font-size: 16px;
}

.div_head>span {
    background: #fff;
    color: #2874f0;
    padding: 2px 5px;
    border-radius: 20%;
    margin: 1% 10px;
}
footer{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 1fr;
    grid-template-areas:"f1 f2 f3";
}
#f1, #f2, #f3{
    color: rgb(128, 126, 126);
    font-size: 12px;
    text-align: center;
    margin: 10px;
}
#f3 span{
    color:blue;
}
/* header{
    display: grid;
    height: 80px;
    margin-bottom: -100px;
    grid-template-columns: 15% 10% 75%;
    grid-template-rows:1fr;
    grid-template-areas: "h1 h2 h3";
    width: 100%;
} */
/* #head_div_1{
    grid-area: h1;
    background-color: #2874f0;
}
#head_div_2{
    grid-area: h2;
    background-color: #2874f0;
}
#head_div_3{
    grid-area: h3;
    background-color: #2874f0;
}
header img {
    width: 100px;
    margin-top: 15%;
    
} */