#navbar{
    display:flex;
    justify-content:space-evenly ;
    background-color:#2563EB;
    padding: 1%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#search-components{
    display:flex ;
    gap: 1%;
}
#search-components input{
    width: 350px;
    padding: 1%;
}
#logo{
    width: 100px ;
    height: 30px;
} 
#logo img{
    width: 100%;
}
#user-info{
    display:flex;
    gap: 5%;
    justify-content:space-evenly
}
#user-info div{
    width: 100px ;
    color: #ffffff ;
    font-weight: 600;
    font-size: 22px
}
#search{
    display:flex;
    height: 30px;
}
a{
    text-decoration: none
}